/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/js/app.js
/public/js/dist/jquery.js
/public/css/app.css
/public/css/app.css.map
.sass-cache/**/*
.sass-cache
.sass-cache/*

/storage/app/public/avatars/*
/storage/uploads/users/*
/storage/uploads/manuals/*
/storage/uploads/creative/*
/storage/uploads/content/*

