.page-sidebar .page-sidebar-menu > li {
  &:nth-child(2) > a {
	border-top: 0 none;
  }
  > a > i[class*="icon-"], > a > i[class^="icon-"] {
	color: #c6ceda !important;
  }
  &.active > a {
	background: #7ab8e8 ;
	i {
	  color: #fff !important;
	}
  }
  &.active:hover > a {
	background: #7ab8e8 ;
  }
}
.btn.green:not(.btn-outline), .btn.blue:not(.btn-outline) {
  background: #7ab8e8 ;
  border: 0 none;
  &:hover, &:active:hover, &:focus {
	background: lighten(#7ab8e8 , 5%);
  }
}
.page-breadcrumb li .caption, .page-breadcrumb li .caption i {
  color: #000 !important;
}
.btn.green:not(.btn-outline).dropdown-toggle:hover, .btn.green:not(.btn-outline).dropdown-toggle:hover, .open > .btn.green:not(.btn-outline).dropdown-toggle:focus {
  background: lighten(#7ab8e8 , 5%);
}
.dropdown-menu li.divider {
  display: none !important;
}
.btn-group .dropdown-menu {
  padding: 5px 0;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #2b3643 ;
  border-color: #2b3643 ;
}
.pagination > li > a {
  color: #1d1d1d ;
}
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after, .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after {
  background: #7ab8e8 ;
}
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .help-block, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .help-block {
  color: #7ab8e8 ;
}
.form-horizontal .form-group.form-md-line-input > label {
  text-transform: uppercase;
  font-size: 11px;
}
.form-group.form-md-line-input .form-control, .select2.select2-container.select2-container--bootstrap {
  border: 1px solid #e8e8e8 !important;
  padding-left: 12px;
  padding-right: 12px;
}
.form-horizontal .form-group.form-md-line-input > label span {
  position: static;
  padding: 1px 3px;
}
.form-horizontal .form-group.form-md-line-input {
  margin: 0 -15px 10px -15px;
}
.portlet.light {
  background: transparent !important;
}
table {
  background: #fff !important;
}
.page-content {
  background: #f7f7f7 !important;
}
#table-cat-document_filter label, #table-cat-page_filter label, #table-document_filter label, #table-page_filter label, #table-user_filter label, #table-role_filter label {
  position: relative;
  top: -25px;
}